<%= link_to "HOME PAGE", root_path %>
<h1>BEST RESTAURANTS</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
  <li>
    <%= restaurant.name %>
    <%= link_to "show", restaurant %>
  </li>
  <% end %>
</ul>
